<a href="https://colab.research.google.com/github/nsubbaian/FrequentistML/blob/master/Project2/FML_Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Frequentist Machine Learning Assigment 2: Logistic Regression** 
##### Implement logistic regression with stochastic gradient descent as the optimization algorithm.

In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing
import math

# Grab a binary classification dataset from UCI or other repository.
# Selected Dataset: http://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data
# Dataset Description: http://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.names 

# The class label is the last column in the dataset, (2 for benign, 4 for malignant)
dataset = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data', 
                      names=["ID", "ClumpThickness", "Uniformity_CellSize", "Uniformity_CellShape", "MarginalAdhesion",
                             "SingleEpithelialCellSize", "BareNuclei", "BlandChromatin", "NormalNucleoli", 
                             "Mitosis", "Class"])
# Removed ID number
dataset = dataset.drop(columns = {'ID'})

# Drop rows with '?' in them ( missing data)
dataset = dataset.dropna(axis = 0)

#add intercept column
dataset['intercept'] = 1
intercept = dataset['intercept']
dataset.drop(labels=['intercept'], axis=1,inplace = True)
dataset.insert(0, 'intercept', intercept)

# All features are on a scale off 1-10
# Change labels to have 0 for benign and 1 for malignant
dataset['Class'].replace(2, 0, inplace = True)
dataset['Class'].replace(4, 1, inplace = True)



# Divide your data into roughly 80% train, 10% validation, 10% test. 
training, validation, test = np.split(dataset.sample(frac=1), [int(.8*len(dataset)), int(.9*len(dataset))])
print("Length of dataset:", len(dataset))
print( "Length of training:", len(training))
print("Length of validation:", len(validation))
print("Length of test:", len(test))

train_X, train_Y = training.iloc[:, :-1], training.iloc[:, 10]
val_X, val_Y = validation.iloc[:, :10], validation.iloc[:, 10]
test_X, test_Y = test.iloc[:, :10], test.iloc[:,10]

training

Length of dataset: 699
Length of training: 559
Length of validation: 70
Length of test: 70

     intercept  ClumpThickness  ...  Mitosis  Class
645          1               3  ...        1      0
63           1               6  ...        1      1
575          1               5  ...        1      0
212          1               1  ...        1      0
369          1               1  ...        1      0
..         ...             ...  ...      ...    ...
429          1               2  ...        1      0
635          1               3  ...        1      0
607          1               1  ...        1      0
98           1               9  ...       10      1
520          1               1  ...        1      0

[559 rows x 11 columns]

### A. Implement SGD without regularization and report your % correct on the test dataset.

In [ ]:



def sigmoid_decision(thetaT, x):
  result = 1/ (1 + math.exp(-(thetaT.T.dot(x)))))
  return (1:0 if result > 0 )

def SGD(thetaJ, alpha, Y_val, hypothesis, XJ_val):
  return (thetaJ + alpha*(Y_val - hypothesis))*XJ_val)

for i in range(length(training)):
  SGD(thetaJ, .1, training[])

### B. Implement SGD with regularization, select the best lambda parameter using the validation dataset, and report your % correct on the test dataset.

In [ ]:
#

### Plot the likelihood function with respect to iterations for unregularized and regularized on one set of axes.

In [ ]:
# Plot

The regularized one/ unregularized one converges to a higher likelihood. This occurs because ...